@import url('https://fonts.googleapis.com/css2?family=Actor&family=Adamina&family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Actor', serif;
}

.nav-bar {
    display: flex;
    /*align-items: center;*/
    height: 210px;
    /*padding-right: 20%;*/
    /*justify-content: end;*/
    background: #000;
    flex-direction: column;
}


.nav-bar ul {
    display: flex;
    /*justify-content: center;*/
    color: #fff;
    list-style: none;
    gap: 70px;
    margin-top: 30px;
    margin-left: 900px;
    margin-bottom: 20px;
}


.work-with {
    padding-left: 80px;
}

li .nav-link {
    padding: 15px 40px 15px 30px;
    font-size: 25px;
    border-top-right-radius: 20px;
    background: #FFAC12;
    color: #000;
    border: transparent;
}
.house-rate {
    display: flex;
}
.modern-house {
    display: flex;
    color: white;
    flex-direction: column;
    margin-top: 30px;
    margin-left: 200px;
}
.currency {
    justify-content: end;
    color: white;
    margin-top: 30px;
    margin-left: 850px;
    /*border: 2px solid green;*/
}

.modern-house {
    padding-right: 200px;
}

.content-wrapper {
    /*background-color: red;*/
    /*height: 500px;*/
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
}
.kitchen {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    margin-bottom: 30px;
}
.kitchen-island img {
    /*max-height: 500px;*/
    margin-left: 200px;
    height: 550px;
}
.profile {
    margin-left: 50px;
    border-radius: 20px;
    /*border: 1px solid black;*/
    background-color: white;
    height: 550px;
    width: 400px;
    display: flex;
    flex-direction: column;
}
.profile-img {
    display: flex;
    margin: 15px;
    padding-top: 10px;
    border-radius: 20px;
    background-color: whitesmoke;
}
.kaylee {
    padding-top: 7px;
}
.profile-img img {
    width: 70px;
}
input[type=text], select, textarea {
    width: 95%;
    height: 60px;
    padding: 20px 20px;
    margin: 10px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.learn-more {
    padding: 21px 155px 20px 73px;
    border-top-right-radius: 12px;
    color: rgb(255, 255, 255);
    background: rgb(0, 0, 0);
    margin: 20px;
}

.slid-show {
    margin-left: 200px;
}
.slid-show img {
    width: 130px;
}

.details {
    display: flex;
    /*background: #ffffff;*/
    margin-top: 50px;
    margin-left: 150px;
}

.main-box {
    background: #fff;
    margin-left: 50px;
    padding: 30px 20px 0px 0px;
    border-radius: 20px;

}

h3 {
    padding-left: 30px;
}

.icons2 {
    display: flex;
    gap: 60px;
}
.box1 {
    align-content: center;
    padding: 10px;
}